examples/ble_peripheral/ble_app_hids_mouse/pca10040/s132/arm5_no_packs/JLinkLog.txt
examples/ble_peripheral/ble_app_hids_mouse/pca10040/s132/arm5_no_packs/JLinkSettings.ini
examples/ble_peripheral/ble_app_hids_mouse/pca10040/s132/arm5_no_packs/RTE/
examples/ble_peripheral/ble_app_hids_mouse/pca10040/s132/arm5_no_packs/_build/
examples/ble_peripheral/ble_app_hids_mouse/pca10040/s132/arm5_no_packs/ble_app_hids_mouse_pca10040_s132.uvguix.wangchaoqun-pc